@page "/Usuarios"
@using Modelos;

<h3>Lista de Usuarios</h3>

@if (lista == null)
{
    <p>No existen usuarios en el sistema</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Código</th>
                <th>Nombre</th>
                <th>Correo</th>
                <th>Rol</th>
                <th>Foto</th>
                <th>Fecha Creación</th>
                <th>Esta Activo</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Usuario user in lista)
            {
                <tr>
                    <th>@user.CodigoUsuario</th>
                    <th>@user.Nombre</th>
                    <th>@user.Correo</th>
                    <th>@user.Rol</th>
                    <th>@user.Foto</th>
                    <th>@user.FechaCreacion</th>
                    @if (user.EstaActivo)
                    {
                        <th>
                            <span class="oi oi-circle-check" style="color:green;"></span>
                        </th>
                    }
                    else
                    {
                        <th>
                            <span class="oi oi-circle-x" style="color:red;"></span>
                        </th>
                    }
                    <th>
                        <a class="btn btn-success" href="@($"/Usuarios/Editar")">Editar</a>
                    </th>
                </tr>

            }
        </tbody>
    </table>   
}

